# Load secrets from Infisical
if [ ! -f .env.cached ] || [ $(find .env.cached -mtime +1) ]; then
    echo "export LLM_GEMINI_KEY=$(op read "op://AIScream/1MED Gemini key/password")" >> .env.cached
fi
source .env.cached
