if  [ $(find .env.cached -mtime +1) ]; then
  rm -f .env.cached
fi

if [ ! -f .env.cached ]; then
    echo "export LLM_GEMINI_KEY=$(op read "op://AIScream/1MED Gemini key/password")" >> .env.cached

    echo "export POSTGRES_USER=$(op read "op://AIScream/OperAI DB/username")" >> .env.cached
    echo "export POSTGRES_PASSWORD=$(op read "op://AIScream/OperAI DB/password")" >> .env.cached
    echo "export RAILWAY_PROJECT_ID=$(op read "op://AIScream/OperAI Railway/project id")" >> .env.cached
fi
source .env.cached
