if  [ $(find .env.cached -mtime +1) ]; then
  rm -f .env.cached
fi

if [ ! -f .env.cached ]; then
  echo "export BETTER_AUTH_SECRET=$(op read "op://Employee/Paperclip - BETTER_AUTH_SECRET/password")" >> .env.cached

  echo "export GOOGLE_CLIENT_ID=$(op read "op://AIScream/OperAI - GOOGLE OAuth/Client ID")" >> .env.cached
  echo "export GOOGLE_CLIENT_SECRET=$(op read "op://AIScream/OperAI - GOOGLE OAuth/Client Secret")" >> .env.cached

  echo "export GITHUB_CLIENT_ID=$(op read "op://AIScream/OperAI - GITHUB OAuth/Client Secret")" >> .env.cached
  echo "export GITHUB_CLIENT_SECRET=$(op read "op://AIScream/OperAI - GITHUB OAuth/Client Secret")" >> .env.cached

  echo "export JWT_PRIVATE_KEY=\"$(op read "op://AIScream/OperAI Private Key/private key")\"" >> .env.cached
  echo "export JWT_PUBLIC_KEY=\"$(op read "op://AIScream/OperAI Private Key/public key")\"" >> .env.cached

  echo "export POSTGRES_USER=$(op read "op://AIScream/OperAI DB/username")" >> .env.cached
  echo "export POSTGRES_PASSWORD=$(op read "op://AIScream/OperAI DB/password")" >> .env.cached
fi
source .env.cached
