# Load secrets from Infisical
if [ ! -f .env.local ] || [ $(find .env.local -mtime +1) ]; then
    echo "export VITE_CLERK_PUBLISHABLE_KEY=$(op read "op://AIScream/Clerk key/publishable")" >> .env.local
fi
source .env.local
